WS/WebContent/WEB-INF/wsdl/ServiceWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.service.epam.edu/" targetNamespace="http://ws.service.epam.edu/" version="1.0">

  <xs:element name="test" type="tns:test"/>

  <xs:element name="testResponse" type="tns:testResponse"/>

  <xs:complexType name="test">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="testResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
